@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
   Tunisia<br />
    Some where in this planet<br />
    <abbr title="Phone">P:</abbr>
    +216 55 611373
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:firasksontini@gmail.com">firasksontini@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:firasksontini@gmail.com">firasksontini@gmail.com</a>
</address>