@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Progest System</h1>
    <p class="lead">Progest is back from the dark ... </p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
           Progest gives you a powerful, vision to plan, monitor ressources for your projects. 
        </p>
        <p><a class="btn btn-danger" href="http://Fiks-it.net">Our Mother Company &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Meet my Father</h2>
        <p>You can meet my father on his blog.<br />
        please visite it.</p>
        <p><a class="btn btn-danger" href="http://firasksontini.blogspot.com">My Father Blog &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Linkedin</h2>
        <p>You can easily find the profil of my father in linkedin, <br />
        Give him a chance to create my brother or my Sister,</p>
        <p><a class="btn btn-danger" href="https://tn.linkedin.com/in/ksontinifiras">linkedin profil &raquo;</a></p>
    </div>
</div>